@import url('https://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato');

$text-color:          #666;
$icon-color:          rgb(255, 102, 0);
$blue-primary:        #184777;
$list-color:          #ddd;

//  HELPERS
//------------------------------------------

@mixin flexy-center-xy {
  display: flex;
  align-items: center;
  justify-content: center;
}

html {
  height: 100vh;
  background: $blue-primary;
}

body {
  margin: 0;
  height: 100%;
  min-height: 100%;
  font-family: Rokkitt, serif;
}

a {
  //display: inline-block;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color:orange;
  }
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
  }
}



.container {
  width: 100%;
  height: 100%;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("../images/homepage.svg") no-repeat center center;
    background-size: cover;
  }
}

// .container {
//   @include center-image-xy--bgurl(".container", "../images/homepage.svg")
// }

.left-panel {
  @include flexy-center-xy;
  width: 50%;
  height: 100%;

  .logo {
    height: 100%;
    width: 30%;
    min-width: 120px;
    max-width: 300px;
    transform: translateY(-25%);
  }
}

.right-panel {
  float: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;


  .icon-panel {
    position: absolute;
    top: 1rem;
    right: 1rem;
    text-align: right;

    .svg-icon {
      padding: 0 .4rem;
      width: 1.4em;
      height: 1.4em;
      stroke-width: 0;
      stroke: $icon-color;
      fill: $icon-color;

      // placed on the parent to effect 'onmouseout'
      transition: fill .45s;

      &:hover {
        fill: $list-color;
      }
    }
  }

  .list-wrapper {
    position: absolute;
    top: 40%;
    right: 10%;
    width: 50%;
    transform: translateY(-10%);


    ul {
      li {
        text-align: right;
        font-variant: small-caps;

        a {
          color: $list-color;
        }
      }
    }
  }
}

.icon {
  display: inline-block;
  padding: 0 .3rem;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: $text-color;
  fill: $text-color !important;

  &:hover {
    color:orange;
  }

}


@media screen and (min-width: 25rem) and (max-width: 69.99rem) {
  html { font-size: calc( 16px + (24 - 16) * (100vw - 400px * 0.9) / (800 - 400) ); }
}

@media screen and (min-width: 70em) {
  html { font-size: 28px; }
}

@-ms-viewport {
  width: device-width;
}


